@import "~reset-css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~antd/dist/antd.css";

@import "./variables.scss";
@import "./mixins.scss";

@include font("OpenSansDev", normal, 400, "../assets/fonts/OpenSans/OpenSans-Regular.woff2");
@include font("OpenSansDev", normal, 600, "../assets/fonts/OpenSans/OpenSans-SemiBold.woff2");

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: #fff;
}

input,
textarea {
  outline: none;
  &:focus:required:invalid {
    border-color: red;
  }
  &:required:valid {
    border-color: green;
  }
}

body,
html,
#root,
.wrapper {
  display: flex;
  flex-direction: column;

  height: 100%;
  min-width: 320px;
  font-family: $opensans;
  font-size: $fontsize;
  position: relative;
  line-height: 1.65;
  overflow-x: hidden;
  color: $textcolor;
}

* {
  outline: none;
}

.ant-btn-circle {
  border: 0;
  box-shadow: none;
  color: #202020 !important;
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }

  &:after {
    display: none;
  }
}

.body-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  top: 0;
  z-index: 1000;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.site-btn {
  @include reset-btn();
  display: inline-block;
  color: #333;
  line-height: 1;
  height: auto;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  padding: 11px 28px;
  white-space: nowrap;
  cursor: pointer;
  &:hover {
    color: #fff;
  }
  &:focus {
    color: #fff;
  }
  &_s1 {
    font-size: 13px;
    padding: 5px 14px;
  }
  &_s2 {
    font-size: 16px;
    padding: 8px 14px;
  }
  &_s3 {
    font-size: 17px;
    padding: 13px 32px;
  }
  &_white {
    display: inline-block;
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    transition: all 0.3s ease;
  }
  &_light-grey {
    display: inline-block;
    background: #f0f0f0;
    transition: all 0.3s ease;
  }
  &_red {
    display: inline-block;
    background-color: #fc171e;
    color: #fff;
    transition: all 0.3s ease;
  }
  &_w-100 {
    width: 100%;
  }
}

.loading {
  height: 600px;
}

@media only screen and (max-width: 991px) {
  .site-btn {
    &_s1 {
      font-size: 12px;
      height: 35px;
    }
    &_s2 {
      font-size: 14px;
      height: 40px;
    }
    &_s3 {
      font-size: 15px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .site-btn {
    &_s1 {
      height: 30px;
    }
    &_s2 {
      font-size: 13px;
      height: 30px;
    }
    &_s3 {
      font-size: 14px;
      height: 35px;
    }
  }
}