@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		// font-display: swap; // Uncomment to initially display system fonts
		src: local($fname), url($furl) format("woff2");
	}
}

@mixin reset-ul() {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

@mixin reset-link() {
	display: inline-block;
	color: $textcolor;
	&:hover {
		color: currentColor;
	}
}

@mixin reset-btn() {
	background-color: transparent;
	border: none;
	outline: none;
}
