$blue: #3674ff;
$black: #202020;
$green: #00c980;

$message-typing-blue: #e5edff;
$message-typing-circle: #a6bdf0;

$accent: orange;
$fontsize: 14px;
$textcolor: #333;
$red: #da3030;
$grey: #808080;
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
$opensans: OpenSansDev,  -apple-system, BlinkMacSystemFont, Arial, sans-serif;

$grid-gutter-width: 20px;
$gutter: $grid-gutter-width;

$headerHeight: 70px;