.add-dialog-form {
  .ant-form-item {
    margin-bottom: 0;
    &-label {
      line-height: inherit !important;
    }
  }
}

.chat {
  display: flex;
  height: 100%;
  max-height: 70vh;
  background-color: #fff;
  max-width: 1140px;
  margin: 40px auto 0 auto;
  padding: 0 20px;

  &__triangle {
    position: absolute;
    top: 0px;
    left: 0;
    width: 25px;
    height: 25px;
    background: #fafafa;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    &_grey {
      background: #808080;
    }
    &_light {
      background: #f3f3f3;
    }
    &_self {
      top: 0;
      left: unset;
      right: -24px;
      border-top-right-radius: 5px;
      clip-path: polygon(100% 0, 0 0, 0 100%);
    }
  }
  &__search-wrapper {
    position: relative;
    width: 80%;
    height: 43px;
    margin: 0 20px 35px 20px;
  }

  &__search {
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    font-weight: 500;
    border: 1px solid #787878;
    border-radius: 20px;
  }

  &__sidebar {
    width: 320px;
    border-right: 1px solid #f7f7f7;

    &-header {
      position: relative;
      display: flex;
      justify-content: space-between;
      padding: 21px;
      align-items: center;

      font-size: 22px;
      font-weight: 600;
      line-height: 1;
      margin-bottom: 30px;

      .ant-btn-circle {
        position: relative;
        left: 5px;
      }

      & > div {
        i {
          display: inline-block;
          margin-right: 5px;
        }
      }
    }

    &-dialogs {
      height: calc(100% - 136px);

      .dialogs {
        height: 100%;
        overflow: auto;
        &__item {
          padding: 10px 20px;
          margin-bottom: 0;
          cursor: pointer;
        }
      }
    }
  }

  &__dialog {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;

    &-input {
      margin-top: auto;
    }

    .ant-empty {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &-header {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px;
      border-bottom: 1px solid #f7f7f7;

      .ant-btn-circle {
        i {
          font-size: 22px;
        }
      }

      &-center {
        text-align: center;
      }

      &-action {
        position: absolute;
        right: 20px;
        top: 12px;
        transform: rotate(90deg);
      }

      &-username {
        display: block;
        margin-bottom: 5px;
        font-weight: 500;
      }
    }
  }
}
